.contact-back{
    width: 100%;
    height: 500px;
    background-image: url("background.jpg");
}

#contact-section{
    display: flex;
    float: left;
    margin: 20px;
    padding: 10px;
    background-color: lavender;

}
#contact-section .contact-1 {
    font-family: "Times New Roman";
    line-height: 25px;
    padding: 1.2px;
    margin: 15px;


}
#contact-section .contact-2 {
    font-family: "Times New Roman";
    line-height: 25px;
    padding: 1.2px;
    margin: 15px;

}